/* base color palette `
#998F74 (Complementary tab from Adobe)
*/
:root {

  --bg-color: #FEF7D8;
  --bg-mid: #E6DFC3;
  --bg-dark-color: #E6DFC3;
  --text-color: #202a25; 
  --placeholder-color: #3a4c43;
  --tooltip-bg: #7D7A6A;  
  --button-focus: #998F74;

  /*
  --bg-color: #a4c3b2;
  --bg-mid: #cce3de;
  --bg-dark-color: #6b9080;
  --text-color: #f6fff8; 
  --tooltip-bg: #73857b;
  previous attempts
  --bg-color: #6b9080;
  --bg-mid: #cce3de;
  --bg-dark-color: #a4c3b2;
  --text-color:#54646E; #98ACAE #f6fff8; previously #FFFFF9
  */
}

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font: inherit;
  font-size: 100%;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  font-size: 0.9em;
}
li {
  list-style: none;
}

button {
  font: inherit;
}

input::placeholder {
  padding-left: 4px;
  transition: 0.277s;
  font-size: 1em;
}

input:focus::placeholder {
  color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placeholder-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--placeholder-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--placeholder-color);
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: 'Oxanium', cursive;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  top: calc(0.8rem + 3vw);
  width: 100%;
}

.main-header {
  position: absolute;
  display: block;
  top: -20px;
  left: 10vw;
  clear: both;
  font-size: 2rem;
}

.main-content {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  flex-wrap: nowrap;
  top: 2em;
  padding: 5px;
  width: 70vw
}

/* Labeller styles */

.labeller {
  position: relative;
  display: inline-flex;
  align-self: stretch;
  margin-left: 2.5vw;
  padding: 2vw 20px;
  min-width: 60vw;
  background-color: var(--bg-dark-color);
}

.label-table {
  position: absolute;
  width: 20%;
}

.initial-input {
  width: 80%;
  font: inherit;
  font-size: 0.8em;
  background-color: var(--bg-color);
  border: none;
  min-height: 25px;
}

.add-button {
  position: absolute;
  right: 0;
  min-height: 20px;
  min-width: 20px;
  /*todo*/
}

.label-entry {
  position: relative;
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transition: 0.3s;

}

.label-wrapper {
  /*position: absolute;
  height: 0;
  */
  height: 33px;
  padding-top: 4%;
  font-size: 0.9em;
  pointer-events: auto;
  cursor: pointer;
  transition: 0.3s;
}

.label-wrapper:hover {
  background-color: var(--bg-mid);
}

.label-wrapper:focus {
  background-color: var(--button-focus);
}


.delete-button {
  position: absolute;
  /*margin-left: 79%;*/
  right: 0;
  bottom: 0;
  min-height: 20px;
  min-width: 20px;
}

.content-header {
  margin-bottom: 8px;
}

.content-table {
  position: absolute;
  left: 30%;
  width: 70%;
}

.content-entry {
  font-size: 0.8rem;
  width: 100%;
  /*height: 24px;*/
  height: 33px;

}

.content-entry > span {
  position: absolute;
  padding-top: 2px;
}

.selected {
  background-color: var(--tooltip-bg);
}


/* textArea styles */

.textArea {
  /*position: relative;
  left: 0;*/
  margin-right: 2.5vw;
  /*padding: 10px; previous*/
  padding: 2vw 20px;
  min-width: 30vw;
  background-color: var(--bg-dark-color);
}

/* Tooltip container, so as to not warp text on highlight */
.tooltip-container {
  position: fixed;
  display: inline-block;
}

 /* Tooltip sub-container */
 .tooltip {
  position: relative;
  /*display: inline-block;*/
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--tooltip-bg);
  color: var(--text-color);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 

.no-highlighting {
  user-select: none;
}

