/* base color palette `
#998F74 (Complementary tab from Adobe)
*/

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font: inherit;
  font-size: 100%;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  font-size: 0.8em;
}
li {
  list-style: none;
}

button {
  font: inherit;
}
body {
  color: #FFFFF9;
  background-color: #998F74;
  font-family: 'Oxanium', cursive;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  top: calc(0.8rem + 3vw);
  width: 100%;
}

.main-header {
  position: absolute;
  display: block;
  top: 0;
  clear: both;
}

.main-content {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  flex-wrap: nowrap;
  top: 2em;
  padding: 5px;
  width: 70vw;
}

.labeller {
  position: relative;
  display: inline-flex;
  padding-left: 30vw;
  margin-left: 5vw;
  padding: 10px;
  min-width: 60vw;
  background-color: #4D432B;
}

.label-table {
  position: absolute;
  top: 32px;
  width: 20%;
}

.initial-input {
  width: 80%;
  font: inherit;
  font-size: 0.8em;
  background-color: #78705B;
  border: none;
  min-height: 25px;
}

.add-button {
  position: absolute;
  right: 0;
  min-height: 20px;
  min-width: 20px;
  /*todo*/
}

.label-entry {
  background-color: #78705B;
  color: #FFFFF9;
  width: 100%;
}


.delete-button {
  position: relative;
  left: 80%;
  bottom: 0;
  min-height: 20px;
  min-width: 20px;
}

.content-header {
  margin-bottom: 8px;
}

.content-table {
  position: absolute;
  top: 32px;
  left: 30%;
  width: 70%;
}

.content-entry {
  width: 100%;
}

.selected {
  background-color: black;
}

.textArea {
  /*position: relative;
  left: 0;*/
  padding-right: 30vw;
  margin-right: 5vw;
  padding: 10px;
  min-width: 30vw;
  background-color: #4D432B;
}


